/* Elements Across All Pages */
@font-face {
    font-family: Archive;
    src: url(./fonts/Archive-Regular.ttf);
}
@font-face {
    font-family: Glacial Indifference;
    src: url(./fonts/GlacialIndifference-Regular.otf);
    font-weight: regular;
}
@font-face {
    font-family: Glacial Indifference;
    src: url(./fonts/GlacialIndifference-Bold.otf);
    font-weight: bold;
}
body {
    margin: 0;
    background-color: #e6dfc7;
    font-family: Glacial Indifference, sans-serif;
    font-size: 1.4rem;
    color: #323432;
}
.main-content {
    margin: auto 20px;
}
h2 {
    color: #1a4147;
    font-family: Archive, sans-serif;
    font-size: 2.5rem;
}
h3 {
    color: #1a4147;
    font-family: Archive, sans-serif;
    font-size: 2rem;
}
h4 {
    margin-bottom: -10px;

}

button {
    padding: 10px;
    font-family: Archive, sans-serif;
}

/* HEADER ELEMENTS */
header {
    background-image: url("./assets/ganapathy-kumar-MQNWj9UeqKo-unsplash.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

#site-logo {
    margin: auto 20px;
    padding: 15px;
    width: fit-content;
    background-color: #2e73717b;
    border-radius: 20px;
    color: #b56d2f;
    text-shadow: #d2a246 2px 2px;
    font-family: Archive, sans-serif;
    font-size: 4rem;
}


/* NAV-BAR */
nav {
    background-color: #2e7371;
}
.nav {
    list-style: none;
    margin-right: 10px;
    padding: 0 15px;
}
.links {
    color: #d2a246;
    text-decoration: none;
    font-family: Archive, sans-serif;
    font-size: 1.5rem;
}
a:hover {
    color: #1a4147;
}
a:active {
    text-shadow: #d2a246 1px 0 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.current-page {
    color: #1a4147;
}

/* MAIN PAGE */
table, th, td {
    border: 1px solid #1a4147;
}
table {
    width: 90%;
}
td {
    text-align: center;
}
.side-bar-content {
    margin-top: 30px;
    padding: 10px;
    width: 90%;
    min-height: 200px;
    background-color: #2e737199;
    border-radius: 10px;
}
.side-bar-content p {
    font-size: 1rem;
}
#ranger-pic, #ranger-pic-2, #ranger-pic-3, #park-photo {
    max-width: 100%;
    max-height: auto;
    border-radius: 10px;
}
#park-title {
    margin-top: -4px;
    font-family: Archive, sans-serif;
}
#park-descrip {
    margin-top: 0px;
    font-size: 1.1rem;
}

/* Page Specific Styling */
/* PAGES WITH SEARCH */
#activity-select, #state-select, #age-select, #grade-select {
    padding: 10px;
    font-family: Glacial Indifference, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}
button {
    font-family: Glacial Indifference, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}
.info-box {
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #2e73714f;
    border-radius: 15px;
}
.info-box-2 {
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid #2e73714f;
    border-radius: 15px;
}
.info-box div {
    margin-bottom: 5px;
}
.info-box a {
    color: #2e7371;
}
.info-box a:hover {
    color: #b56d2f;
}
.message {
    margin-top: 20px;
}
.display-one {
    display: none;
}
.bold {
    font-weight: bold;
}
.float {
    float: left;
    margin-right: 10px;
}
.park-holder {
    margin-top: 20px;
    min-height: 310px;
    margin-bottom: 20px;
}
.activities li {
    margin-bottom: 7px;
}
.activities a {
    color: #323432;
    text-decoration: none;
}
.activities a:hover {
    color: #2e7371;
}
.active-info {
    margin-bottom: 20px;
}
#ranger-content, #hike-content div {
    margin: 10px 0;
}
#get-junior-ranger {
    margin-top: 20px;
}
#active-main, #hike-main, #hike-second {
    margin-bottom: 10%;
}
#active-main div, #hike-main div, #hike-second div {
    margin-bottom: 15px;
}
#active-main a, #hike-main a, #hike-second a {
    color:#1a4147;
}
#active-main a:hover, #hike-main a:hover, #hike-second a:hover {
    color: #b56d2f;
}
#active-main h4 a, #hike-main h4 a, #hike-second h4 a {
    font-size: 2rem;
}
#active-main img, #hike-main img, #hike-second img {
    width: 250px;
}


/* FLEX */
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.flex-end {
    justify-content: flex-end;
}
.justify-content {
    justify-content: center;
}
.align-items {
    align-items: center;
}
.two-thirds {
    width: 66%;
}
.one-third {
    width: 33%;
}
.space-between {
    justify-content: space-between;
}


/* media sizes */
@media screen and (max-width: 800px) {
    body {
        font-size: 1.1rem;
    }
    #site-logo {
        font-size: 3rem;
    }
    header {
        height: 35vh;
    }
    .nav{
        padding: 0 5px;
    }
    .links {
       font-size: 1.5rem; 
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 400px) {
    body {
        font-size: 1rem;
    }
    #small-column {
        flex-direction: column;
        align-items: center;
    }
    #site-logo {
        font-size: 2rem;
    }
    .one-third, .two-thirds {
        width: 100%;
    }
    #active-main img, #hike-main img, #hike-second img {
        width: 150px;
    }
}